doctype html
html(lang="en")
    head
        meta(charset='UTF-8')
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        title Survey
        //- https://github.com/pugjs/pug/issues/1626
        style
            include ./stylesheets/reset.css
            include ./stylesheets/materialize.min.css
            include ./stylesheets/style.css
    body.blue-grey.darken-2
        .container.deep-orange-text.text-lighten-1.grey.lighten-3.z-depth-3
            h1 Welcome to Friend Finder!
            #center
                a(href='/survey').waves-effect.btn-large.waves-light.cyan.darken-1 Click here to be matched with friends!