doctype html
html(lang="en")
    head
        meta(charset='UTF-8')
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        title Survey
        //- https://github.com/pugjs/pug/issues/1626
        style
            include ./stylesheets/reset.css
            include ./stylesheets/materialize.min.css
            include ./stylesheets/style.css
    body.blue-grey.darken-2
        .container.deep-orange-text.text-lighten-1.grey.lighten-3.z-depth-3
            h1 Answer the following questions to be matched with a friend!
            form(ref='uploadForm' encType='multipart/form-data' action='/api/friends/' method='POST')
                ol.cyan-text 
                    li
                        p.input-field What is your name?
                            input.validate.cyan-text(name='name' placeholder='Jordan' required)
                    li
                        p Please upload a photo of yourself
                        br
                        br
                        input.validate(id='photo' name='photo' required type='file' accept='image/*,.pdf')
                    h3 Use the slider to adjust the importance of this topic to you
                        p.deep-orange-text.accent-3.text-lighten-2#sub-text 1 (on the left) represents something not important
                        p.deep-orange-text.accent-3.text-lighten-2#sub-text 5 (on the right) represents something very important
                    li
                        p.range-field Question 1
                            input.cyan-text(name='score1' type="range" min='1' max='5')
                    li
                        p.range-field Question 2
                            input(name='score2' type="range" min='1' max='5')
                    li
                        p.range-field Question 3
                            input(name='score3' type="range" min='1' max='5')
                    li
                        p.range-field Question 4
                            input(name='score4' type="range" min='1' max='5')
                    li
                        p.range-field Question 5
                            input(name='score5' type="range" min='1' max='5')
                    li
                        p.range-field Question 6
                            input(name='score6' type="range" min='1' max='5')
                    li
                        p.range-field Question 7
                            input(name='score7' type="range" min='1' max='5')
                    li
                        p.range-field Question 8
                            input(name='score8' type="range" min='1' max='5')
                    li
                        p.range-field Question 9
                            input(name='score9' type="range" min='1' max='5')
                    li
                        p.range-field Question 10
                            input(name='score10' type="range" min='1' max='5')
                button.btn-large.waves-effect.waves-light.pulse.z-depth-4.cyan(type='submit') Send
        if friendName != null
            #modal-container.deep-orange-text.text-lighten-1.z-depth-5.red.lighten-4
                #modal
                    h3= friendName
                    img.circle(src=('/api/friends/' + friendName) alt='image')
    script
        include ./javascript/materialize.min.js
        include ./javascript/survey.js
